{
  "presets": [
    ["es2015"]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-umd"
  ]
}
