.njg-overlay{
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #6d6357;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: auto;
    max-width: 400px;
    min-width: 200px;
    padding: 0 15px;
    right: 10px;
    top: 10px;
    width: auto;
    display: none;
    position: absolute;
    z-index: 10;
}

.njg-metadata{
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #6d6357;
    display: none;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    height: auto;
    left: 50px;
    padding: 0 15px;
    top: 10px;
    width: 200px;
    word-break: break-all;
}

.njg-node{
    stroke-opacity: 0.5;
    stroke-width: 7px;
    stroke: #fff;
}

.njg-node:hover,
.njg-node.njg-open {
    stroke: rgba(0, 0, 0, 0.2);
}

.njg-link{
    cursor: pointer;
    stroke: #999;
    stroke-width: 2;
    stroke-opacity: 0.25;
}

.njg-link:hover,
.njg-link.njg-open{
    stroke-width: 4 !important;
    stroke-opacity: 0.5;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#graphChartContainer{
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: 0;
}

#njg-indoorImgInput{
    position: absolute;
    right: 70px;
    top: 20px;
    width: 150px;
    z-index: 1;
}
  
  