* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-family: sans-serif;
  font-size: 14px;
}

.njg-relativePosition {
  position: relative;
  left: 0;
  right: 0;
}

.njg-container {
  background: #fbfbfb;
  border-radius: 2px;
  border: 1px solid #ccc;
  color: #6d6357;
  line-height: 20px;
  max-width: 400px;
  min-width: 200px;
  padding: 10px 15px;
}

.njg-overlay {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
  visibility: hidden;
  user-select: text;
}

.njg-metadata {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  word-break: break-all;
  z-index: 999;
  user-select: text;
}

.njg-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.njg-close:before {
  content: "\2716";
}

#graphChartContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

#loadingContainer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  /* background-color: red; */
}

.loadingElement {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  text-align: center;
}
.loadingSprite {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("./loading.gif") center no-repeat;
  background-size: contain;
}

.loadingTip {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.leaflet-control-zoom {
  top: 55px;
  border: 0 !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: rgba(217, 79, 52, 0.85) !important;
  color: #fff !important;
}

.leaflet-control-layers {
  background: rgba(217, 79, 52, 0.85) !important;
  color: #fff !important;
  border: none !important;
}

.leaflet-zoom-animated {
  transform-origin: 0 0 !important;
}

.leaflet-zoom-anim > .leaflet-zoom-animated {
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) !important;
  will-change: transform !important;
}

.leaflet-zoom-anim > .leaflet-zoom-hide {
  visibility: hidden !important;
}

.leaflet-zoom-anim > .leaflet-tile {
  transition: none !important;
}
