.njg-container * {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.njg-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.njg-container h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.njg-container p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.njg-relativePosition {
  position: relative;
  left: 0;
  right: 0;
}

.njg-chartContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  overflow-y: auto;
}

.njg-loadingContainer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.loadingElement {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  text-align: center;
}
.loadingSprite {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("./loading.gif") center no-repeat;
  background-size: contain;
}

.loadingTip {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.njg-container .leaflet-control-zoom {
  top: 5px;
  border: 0 !important;
}

.njg-container .leaflet-control-zoom-in {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.njg-container .leaflet-control-zoom-out {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.njg-container .leaflet-control-layers {
  border: none !important;
  right: 3px !important;
}

.njg-container .leaflet-control-layers-toggle {
  height: 35px !important;
  width: 35px !important;
  background-size: 20px 20px !important;
}

.njg-indoorImgInput {
  position: absolute;
  right: 70px;
  top: 20px;
  width: 150px;
  z-index: 1;
}

.njg-container .switch-wrap {
  position: absolute;
  right: 40px;
  bottom: 30px;
  z-index: 1;
}

.njg-container .switch-wrap input[type="checkbox"] {
  height: 25px;
  width: 60px;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5em;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
.njg-container .switch-wrap label {
  display: inline-block;
  width: 60px;
  height: 25px;
  outline: none;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition:
    border-color 0.3s,
    background-color 0.3s;
  vertical-align: middle;
  position: relative;
  margin: 0 5px;
}
.njg-container .switch-wrap label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  transition: transform 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.njg-container .switch-wrap input[type="checkbox"]:checked + label:before {
  transform: translateX(34px);
}
.njg-container .njg-date {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1554537125905"); /* IE9 */
  src:
    url("iconfont.eot?t=1554537125905#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
      url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABoQAAAKGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBEIEuATYCJAMICwYABCAFhG0HLRvRBcguoRzbUaRIzQw73HPLf7QTlBZ2D/IcIqjWsJ69DaJClJGADlmhijCpCBUFUgELGaHg/4X/3P9am73DJNR5j3rniUuYJZWV+Sv+d1DrkBIhatJGhdBMSonZDe5mGYwm3qYronsgVPRfaegmrtP2H/dOG0u7QOYDymWugZ+6AOOtgY41KLISyrjHcAqrwkXmf5xApQ4ZykLfyDjUyWhcIC5sU4W6gk+W5WS5UNqwNItbJcrTdQrcRN+Pf0pRR1JSoLK1814DOr6Kp7H/u+8oQPETcHUJCowBmdhqjK1IC5mSVhmr0gOOVRx81QcGcVStkP86KqwGbcB7Jr4neNTCBDL0jgKLk9zkWpoZV083Lk3aU+QEjguciAOc6rXwcih7x22pDzGBTA58/6i7Kf9X4OyAnUy7Lf+SwMWzebmVOkI2slFyqJCVI4UN6dZul2us9Ehnd6SGqrxTzKCfFY+pPRQE/8sGl1onvrwqg8/d6kiTDXOA8kvZg7+MP7AmW0JSppPz0J6M5rIkVFpOv8jV6GWqquX5LKG8wJchKdMOhXJ96IwfgxJVxqFUuWmoNKp/dZUmUlrkCow4YRDqnUNS6x4K9R7RGf8MJVq9Qqn6SEOlnWjasspA2A3zklQmA7UNtPUwEK6RG+LiUTJXPFXmhRF1kmRiB7GYK5ST/RSQXGJGsmqWmAUKGfrYx04jzwsxkqFDOucs5qiSz4umN+X00IcG8ySiYsSANBuQTRcKiKAxa6h8fhQxrfCoZAeiyTqJSAm7f1SUUxiA7pcFgxCP8kpilamEMQEJUsiH+tgg4vGEUNQ8yEF0LMeaEIlU5Hk9MVSW217h/7pNUInUKXhVobhUAwAAAA==")
      format("woff2"),
    url("iconfont.woff?t=1554537125905") format("woff"),
    url("iconfont.ttf?t=1554537125905") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("iconfont.svg?t=1554537125905#iconfont") format("svg"); /* iOS 4.1- */
}

.njg-container .iconfont {
  font-family: "iconfont", serif !important;
  font-size: 30px;
  font-style: normal;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.njg-container .icon-eye:before {
  content: "\e63f";
  position: relative;
  top: -2px;
}

.njg-container .njg-selectIcon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}
.njg-container .njg-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 999;
  background-color: inherit;
}
.njg-container .njg-searchInput {
  width: 250px;
  height: 20px;
}
.njg-container .njg-searchBtn {
  padding: 5px 10px;
  margin-left: 10px;
}
.njg-container .njg-searchContainer {
  position: absolute;
  top: 10px;
  z-index: 1;
}

.njg-container .njg-sideBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 100%;
  z-index: 1000;
  transition: left 0.4s;
  display: flex;
  flex-direction: column;
  user-select: text;
  overflow-y: auto;
}

.njg-container .hidden {
  left: -100%;
}

.njg-container .sideBarHandle {
  position: fixed;
  top: 15px;
  left: 370px;
  border: 0;
  border-radius: 5px;
  outline: none;
  font-size: 24px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  padding: 0;
  transition: all 0.4s;
  transform: rotateY(180deg);
}

.njg-container .sideBarHandle::before {
  content: "\27A4";
}

.njg-container .hidden .sideBarHandle {
  left: 15px;
  transform: rotateY(0deg);
}

.njg-container .njg-metaInfoContainer,
.njg-container .njg-nodeLinkInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.njg-container .njg-metaData,
.njg-container .njg-infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.njg-container .njg-keyLabel {
  font-size: 14px;
  font-weight: 600;
  flex: 1 1 50%;
  word-break: break-word;
}

.njg-container .njg-valueLabel {
  flex: 1 1 50%;
  word-break: break-word;
}

.njg-container .njg-metaDataItems,
.njg-container .njg-infoItems {
  display: flex;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  padding: 5px 0;
}

.njg-container .njg-tooltip {
  user-select: text !important;
}

.njg-container .njg-tooltip .njg-closeButton {
  display: none;
}

.njg-container .njg-tooltip-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px 0;
  flex-wrap: wrap;
}

.njg-container .njg-tooltip-key {
  display: inline-flex;
  flex-basis: 40%;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-weight: 600;
}
.njg-container .njg-tooltip-value {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 60%;
}

.njg-container .njg-headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  width: 100%;
  padding: 0 15px;
  position: relative;
}

.njg-container .njg-closeButton {
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 18px;
}

@media only screen and (max-width: 850px) {
  .njg-container .njg-sideBar {
    top: 0;
    z-index: 1001;
    width: 100%;
  }

  .njg-container .njg-tooltip .njg-closeButton {
    display: block;
    width: 100%;
    text-align: end;
    font-size: 16px;
  }

  .njg-container .sideBarHandle {
    display: none;
  }
}
