.njg-tooltip{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 13px
}


.njg-overlay{
    width: auto;
    height: auto;
    min-width: 200px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fbfbfb;
    top: 10px;
    right: 10px;
    padding: 0 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #6d6357
}

.njg-metadata{
    width: auto;
    height: auto;
    min-width: 200px;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fbfbfb;
    top: 10px;
    left: 10px;
    padding: 0 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #6d6357
}

.njg-node{
    stroke: #fff;
    stroke-width: 2px;
    stroke-opacity: 0.6;
}

.njg-node:hover,
.njg-node.njg-open {
    stroke: rgba(0, 0, 0, 0.4);
}

.njg-link{
    stroke: #999;
    stroke-width: 2;
    stroke-opacity: 0.25;
}

.njg-link:hover,
.njg-link.njg-open{
    stroke: #9f9fa4 !important;
    stroke-width: 3 !important;
    stroke-opacity: 0.5;
}
